@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700|Source+Sans+Pro:300,400,600,700");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --PT-sans: "PT Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--PT-sans);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
}

/* COMMON */
.container {
  width: 1170px;
  margin: 0 auto;
}

/* TOP PAGE */
.top-page {
  min-height: 496px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/bg-banner.jpg) no-repeat center / cover;
}

.top-page {
  display: flex;
  margin-bottom: 110px;
}

.top-page .inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.header .header-logo {
  height: 33px;
}

.header .header-nav {
  display: flex;
}

.header .header-nav li {
  display: flex;
}

.header .header-nav li a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.user-actions {
  display: flex;
}

.user-actions .action-btn {
  padding: 14px;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  gap: 15px;
  color: #fff;
}

.hero h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.hero .breadcrumbs {
  display: flex;
}

.hero .breadcrumbs a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs li:first-child:hover a {
  color: #783df0;
}

.breadcrumbs li + li:before {
  content: "/";
  padding: 0 8px;
}

/* CONTENT */
.content {
  display: flex;
  margin-bottom: 10rem;
}

.content .inner {
  display: flex;
  gap: 30px;
}

.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-form {
  height: 43px;
  position: relative;
}

.sidebar-form input {
  width: 100%;
  height: 100%;
  border-radius: 99px;
  padding-left: 20px;
  padding-right: 40px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.sidebar-form button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  width: 37px;
  padding: 0;
}

.sidebar-list h6 {
  margin-bottom: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.sidebar-list .sidebar-list-item {
  display: flex;
}

.sidebar-list .sidebar-list-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 25px;
  line-height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  font-size: 1.5rem;
}

.sidebar-list .sidebar-list-item a:hover {
  padding-left: 35px;
  color: #783df0;
  transition: all 0.3s ease-in-out;
}

.feature-course {
  width: 75%;
}

.course-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 60px;
}

.course-menu li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 6px 14px;
  font-size: 1.5rem;
}

.course-menu li a:hover {
  background-color: #783df0;
  color: #fff;
  border-radius: 15px;
}

.cards {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #eeeeee;
  width: 30.5%;
}

.card img {
  width: 100%;
}

.card .text {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
}

.card .text h5 {
  display: flex;
  flex-grow: 1;
}

.card .text h5:hover a {
  color: #b80257;
}

.card .text h5 a {
  text-decoration: none;
  color: #464646;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: left;
  line-height: 2.4rem;
}

.card .text p {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 2.2rem;
  flex-grow: 1;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.card-info-user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666666;
  gap: 10px;
  font-size: 1.5rem;
}

.card-info-quantity {
  color: #666666;
  display: flex;
  gap: 12px;
  font-size: 1.5rem;
}

.card-info-value {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  width: 6.6rem;
  height: 3.2rem;
  border-radius: 20px;
  font-size: 1.5rem;
}

.card-info-value--free {
  background-color: #783df0;
}

.card-info-value--29 {
  background-color: #b80257;
}

.course-pagination {
  margin-top: 4.5rem;
  display: flex;
  gap: 1.5rem;
}

.course-pagination li a {
  text-decoration: none;
  border: 1px solid #c5c5c5;
  padding: 0.2rem 1rem;
  border-radius: 0.8rem;
  color: #c5c5c5;
  font-weight: 600;
  font-size: 1.5rem;
}

.course-pagination li a:hover {
  color: #783df0;
  border: 1px solid #783df0;
}

.course-pagination li:last-child a {
  background-color: #783df0;
  color: #fff;
  padding: 0.2rem 1.4rem;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #151515;
  padding-top: 8rem;
  padding-bottom: 16rem;
  height: 51rem;
}

.footer .inner {
  display: flex;
  gap: 1.5rem;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 2rem;
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 2.2rem;
  font-size: 1.4rem;
}

.footer-download {
  display: flex;
  gap: 2.2rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  width: 16.66666667%;
}

.footer-list h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 0.8rem 0 2.5rem;
}

.footer-list li {
  display: flex;
}

.footer-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  padding: 0.6rem 0;
  font-size: 1.5rem;
}

.footer-subcribe h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin: 0.8rem 0 2.5rem;
}

.footer p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 2.2rem;
  font-size: 1.4rem;
}

.footer-subcribe-form {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.footer-subcribe-form input {
  width: 100%;
  border-radius: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 4rem;
  background: #272727;
  border: none;
}

.footer-subcribe-form button {
  background: #b80257;
  color: #fff;
  padding: 0.8rem 2.2rem;
  border-radius: 2rem;
  margin-top: 1rem;
}
